@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

fusion-view {
  display: flex;
  flex-direction: column;
  padding: var(--lumo-space-m);
  gap: var(--lumo-space-m);
}
